body {
  margin: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.pannel {
  margin-left: 1rem;
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  cursor: pointer;
  background: #99CC66;
}

input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #339933;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #99CC66;
}

input[type=range]::-moz-range-track {
  height: 5px;
  cursor: pointer;
  background: #99CC66;
}

input[type=range]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #339933;
  cursor: pointer;
}
input[type=range]::-ms-track {
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #99CC66;
  border-radius: 2px;
}

input[type=range]::-ms-fill-upper {
  background: #99CC66;
  border-radius: 2px;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #339933;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #99CC66;
}

input[type=range]:focus::-ms-fill-upper {
  background: #99CC66;
}

#font-scale {
  margin: 1rem 1rem;
}

#lattice {
  font-size: small;
}

div.morphbox {
  position: absolute;
  background: #99CC66;
  padding: 1em;
  min-width: 10em;
  height: 7em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.morphbox:hover {
  overflow: visible;
  z-index: 2;
}

div.morphbox.best {
  background: #FFFF99;
}

div.morphbox.selected {
  background: #339933;
}

#lattice {
  position: relative;
  margin-left: 1rem;
  background: gray;
}

#input {
  width: 100%;
  margin: 5px 0px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #339933;
  box-sizing: border-box;
  background: transparent;
}